<div class="container">
  <section class="row">
    <div class="col-12">
      <div class="text-center my-2">
        <h1>Cars</h1>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-12">
      <form>
        <div class="mb-3">
          <label for="make">Car Make</label>
          <input id="make" type="text" required minlength="2" maxlength="100" placeholder="Car Make...">
        </div>
        <div class="mb-3">
          <label for="model">Car Model</label>
          <input id="model" type="text" required maxlength="200" placeholder="Car Model...">
        </div>
        <div class="mb-3">
          <label for="year">Car Year</label>
          <input id="year" type="number" required min="1886" max="2025" placeholder="2025">
        </div>
        <div class="mb-3">
          <label for="price">Car Price</label>
          <input id="price" type="number" required min="0" max="1700000" placeholder="0">
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>

  <section id="car-listings" class="row">
    <!-- <div class="col-12 p-0 mb-3">
      <div class="row bg-light shadow">
        <div class="col-4 p-0">
          <img class="img-fluid car-img"
            src="https://images.unsplash.com/photo-1716167950737-ac635698a16a?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Cool car picture">
        </div>
        <div class="col-8">
          <div class="p-2">
            <p class="fs-3">2002 Honda Civic</p>
            <p class="fs-4">$2000</p>
            <p>Red car goes fast</p>
            <p class="fs-3">
              <i class="mdi mdi-car-shift-pattern" title="Manual Transmission"></i>
              <i class="mdi mdi-refresh-auto" title="Automatic Transmission"></i>
            </p>
            <p>2000000000 miles</p>
          </div>
        </div>
      </div>
    </div> -->
  </section>
</div>